<!doctype html>
{% load static %}
{% load humanize %}
<html>
  <head>
    <meta charset = utf-8>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}" />
    <title>Django Shopping Mall</title>
  </head>

  <body>
    <div class="navbar">
      <a class="logo" href="{% url 'shopping_mall:main_page' %}">
        <img src="{% static 'logo.png' %}" height="70px">
      </a>
      <ul>
        {% if "Business_User" == user_category %}
          <li><a href="{% url 'shopping_mall:product_addition' %}">Product Addition</a></li>
          <li><a href="{% url 'shopping_mall:cart' %}">Cart</a></li>
        {% else %}
          <li><a href="{% url 'shopping_mall:cart' %}">Cart</a></li>
        {%endif%}
        <li><a href="#">{{ user.first_name }} {{ user.last_name }}</a></li>
        {%if user.is_authenticated%}
          <li><a href="{% url 'user:logout' %}">Logout</a></li>
        {%else%}
          <li><a href="{% url 'user:login' %}">Login</a></li>
        {%endif%}
      </ul>
    </div>
    
    <img class="hero_header" src="{% static 'Banner_image.png' %}">

    <h1>Product List</h1>

    {% if category_info %}
      {% for product in category_info %}
        <div class="products">
          <a href="#">
            <img src="{{product.product_image.url}}">
            <p class = "p">{{product.product_name}}</p> 
            <p class = "price">{{product.product_price| intcomma}}원</p>
          </a>
        </div>
      {%endfor%}
    {%endif%}    
    
  </body>
</html>