body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
  background-color: rgb(158, 158, 158);
}

.navbar{
  height: 70px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo{
  line-height: 60px;
  float: left;
}

.logo img{
  vertical-align: middle;
}

.navbar ul{
  float: right;
}

.navbar li{
  list-style-type: none;
  float: left;
  margin-right: 30px;
}

.navbar a{
  text-decoration: none;
  color: black;
  font-style: bold;
  font-size: 13px;
}

.hero_header{
  height: 450px;
  width: 100%;
}

body h1{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 24px;
  font-style: bold;
  color: #545454;
}

.products a{
  text-decoration: none;
  color: black;
  float: left;
  font-size: 16px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 225px;
}

.products {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 80%;
  text-align: center;
}

.products img {
  width: 100%;
  height: auto; /* 이미지가 a 태그의 너비에 맞게 조정 */
}

.p {
  word-break: keep-all;
  white-space: normal; /* 줄바꿈 허용 */
}

.price {
  margin-top: 4px;
  margin-bottom: 20px;
}

.clearfix{
  clear: both;
}

.footer{
  text-align: center;
}

.footer img{
  margin-top: 40px;
  height: 20px;
  margin-bottom: 80px;
  margin-left: 10px;
  margin-right: 10px;
}



.header-container {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 정렬 */
  margin-top: 60px;
  margin-bottom: 60px;
}

.header-container h1 {
  margin-right: 20px; /* h1과 드롭다운 사이의 간격 */
  font-size: 24px;
  font-weight: bold; /* 'font-style: bold' 대신 'font-weight' 사용 */
  color: #545454;
}

.dropdown {
  position: relative;
}

.dropbtn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
